<mat-toolbar color="primary">
  <span>Feedback System</span>
</mat-toolbar>

<div class="container" fxLayout="column">
  <mat-card>
    <mat-card-title><h2>Reset Password</h2></mat-card-title>
    <mat-card-content>
      <mat-input-container >
        <input matInput type="email" name="email" [(ngModel)]="emailId" placeholder="Enter your Email Id" email>
      </mat-input-container>
      <button mat-button type="submit" class="background-primary text-floral-white" (click)="onSubmitEmailId()">
        Submit
      </button><br>
      <mat-input-container >
        <input matInput type="text" name="code" [(ngModel)]="Code" placeholder="Verification Code" [disabled]="verificationCodeDisable">
        <mat-hint [hidden]="verificationcodeHint">
          <p class="warn">Code didn't match</p>
        </mat-hint>
      </mat-input-container>
      <button mat-button type="submit" class="background-primary text-floral-white" [disabled]="verificationCodeDisable" (click)="onSubmitCode()">
        Submit
      </button><br>
      <mat-input-container >
        <input matInput [type]="showpassword ? 'text' : 'password'" name="newpassword" [disabled]="disable" [(ngModel)]="NewPassword" placeholder="Enter new password">
        <button mat-icon-button matSuffix class="input-group-addon" [disabled]="disable" (click)="onClickVisibilityIcon()">
          <mat-icon>visibility</mat-icon>
        </button>
        <mat-hint [hidden]="passwordHint">
          <p class="warn">New password and confirm password didn't match</p>
        </mat-hint>
      </mat-input-container>

      <mat-input-container >
        <input matInput [type]="showpassword ? 'text' : 'password'" name="confirmpassword" [disabled]="disable" [(ngModel)]="ConfirmPassword" placeholder="Confirm password">
        <button mat-icon-button matSuffix class="input-group-addon" [disabled]="disable" (click)="onClickVisibilityIcon()">
            <mat-icon>visibility</mat-icon>
          </button>
      </mat-input-container>
      <button mat-button type="submit" [disabled]="passwordbtndisable" class="background-primary text-floral-white" (click)="onSubmitPassword()">
        Submit
      </button>
    </mat-card-content>
  </mat-card>

</div>

