<!-- <mat-toolbar mat-dialog-title color="primary">
    Complete Problem Description

  <button mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</mat-toolbar> -->

<mat-dialog-content>
    <mat-card id="user-card" *ngIf="problem">
        
        <mat-card-title>
          Complete Problem Description
          <button mat-mini-fab mat-dialog-close>
            <span class="fa fa-close fa-lg"></span>
          </button>
        </mat-card-title><hr>
        <mat-card-content>
          <p>Call Type:&nbsp;{{problem.calltype}}&nbsp;&nbsp;&nbsp;&nbsp;Registered on:&nbsp;{{problem.createdAt | date}}</p>
          <p>Case Id: {{problem.caseId}}</p>
          <p>Status: {{problem.problem_status}}</p>
          <p>Name: {{problem.problem_title}}</p>
          <p>Description: {{problem.problem_description}}</p>
          <h4>Device details:</h4>
          <p>Device type: {{problem.device_type}}</p>
          <p>OEM: {{problem.oem}}</p>
          <p>Model number: {{problem.model_no}}</p>
          <p>Serial number: {{problem.serial_no}}</p>
          <h4 *ngIf="problem.engineer">Engineer Details</h4>
          <p *ngIf="problem.engineer">Name: {{problem.engineer.firstname}} {{problem.engineer.lastname}}</p>
          <p *ngIf="problem.engineer">Updated At: {{problem.updatedAt | date}}</p>
        </mat-card-content>
      </mat-card>
      <div [hidden]="problem || errMess">
          <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
      </div>
      <div *ngIf="errMess">
        <h2>Error</h2>
        <h4>{{errMess}}</h4>
      </div>
</mat-dialog-content>