// .loginbackground {
//     background-image: url('E:/Karnav/angular/Feedback System/feedbacksystem-front-end/src/assets/images/Login-Page_Background2.png');
//     background-repeat: no-repeat;
//     background-position: center;
//     background-size: cover;
//     width: 100%;
//     min-height: 100vh;
// }

#welcome {
    background-image: url('/images/Login-Page_Background2.png');
    min-height: 100vh;
}