<mat-toolbar color="primary" class="mat-elevation-z8">
  <a type="button" mat-mini-fab (click)="sidenav.open()">
      <span class="fa fa-bars fa-lg"></span>
  </a>
<span>&nbsp;Feedback System</span>
<span class="flex-spacer"></span>
<a mat-button routerLink="/login"><span class="fa fa-sign-out fa-lg"></span> Logout</a> 
</mat-toolbar>

<mat-sidenav-container class="example-container" style="top: 64px !important;" fullscreen>
  <mat-sidenav #sidenav class="example-sidenav" fxLayout="column" fxLayoutGap="5px" mode="over">
    <button mat-button (click)="dashboard()">Dashboard</button>
    <!-- <button mat-button (click)="profile()">Profile</button> -->
    <button mat-button (click)="listproblem()">List of Problems</button>
    
  </mat-sidenav>

  

  <mat-sidenav-content class="example-sidenav-content">
  <div class="container" 
    fxLayout="row" fxLayout.xs="column" fxLayoutAlign.gt-md="top" fxLayoutGap="10px">
    <div fxFlex="20">
    <mat-card id="reportcard">
      <mat-card-title><h3>Reports</h3></mat-card-title>
      <mat-card-content>
        <p>Start date:</p>
        <p>
          <mat-form-field>
            <input matInput [matDatepicker]="startdate" [(ngModel)]="startDate" placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="startdate"></mat-datepicker-toggle>
            <mat-datepicker #startdate></mat-datepicker>
          </mat-form-field>
        </p>
        <p>End date:</p>
        <p>
          <mat-form-field>
            <input matInput [matDatepicker]="enddate" [(ngModel)]="endDate" placeholder="Choose a date">
            <mat-datepicker-toggle matSuffix [for]="enddate"></mat-datepicker-toggle>
            <mat-datepicker #enddate></mat-datepicker>
          </mat-form-field>
        </p>
        <button mat-raised-button type="submit" (click)="onSubmit()" class="background-primary text-floral-white">Submit</button>
      </mat-card-content>
    </mat-card>
    </div>

    <div fxFlex fxLayout="column" fxLayoutGap="10px">
      <div>
        <mat-card>
          <mat-card-title>Problems</mat-card-title>
          <mat-card-content>
          <div fxLayoutColumn="column">
            <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
                    
            <mat-table #table [dataSource]="dataSource" matSort>
              <!-- createdAt column -->
              <ng-container matColumnDef="createdAt">
                <mat-header-cell class="tableheader" *matHeaderCellDef mat-sort-header> Created On </mat-header-cell>
                <mat-cell class="tablecell" *matCellDef="let problem"> {{problem.createdAt | date}} </mat-cell>
              </ng-container>
      
              <ng-container matColumnDef="problem_title">
                <mat-header-cell class="tableheader" *matHeaderCellDef> Problem Title </mat-header-cell>
                <mat-cell class="tablecell" *matCellDef="let problem"> {{problem.problem_title}} </mat-cell>
              </ng-container>
      
      
              <ng-container matColumnDef="problem_status">
                <mat-header-cell class="tableheader" *matHeaderCellDef> Problem status </mat-header-cell>
                <mat-cell class="tablecell" *matCellDef="let problem">
                    {{problem.problem_status}}
                </mat-cell>
              </ng-container>
    
    
              <ng-container matColumnDef="customer_name">
                <mat-header-cell class="tableheader" *matHeaderCellDef> Customer name </mat-header-cell>
                <mat-cell class="tablecell" *matCellDef="let problem"> {{problem.customer.firstname}} {{problem.customer.lastname}} </mat-cell>
              </ng-container>
    
    
              <ng-container matColumnDef="engineer">
                <mat-header-cell class="tableheader" *matHeaderCellDef> Engineer </mat-header-cell>
                <mat-cell class="tablecell" *matCellDef="let problem"> {{problem.engineer.firstname}} {{problem.engineer.lastname}}</mat-cell>
              </ng-container>
      
      
              <ng-container matColumnDef="updatedAt">
                <mat-header-cell class="tableheader" *matHeaderCellDef> Updated on </mat-header-cell>
                <mat-cell class="tablecell" *matCellDef="let problem">
                  {{problem.updatedAt | date}}
                </mat-cell>
              </ng-container>
      
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <mat-paginator [pageSizeOptions]="[5, 10, 25]" [length]="length"></mat-paginator>  
          </div>
          </mat-card-content>
        </mat-card>
      </div>  
      <!-- <div fxFlex *ngFor="let problem of problems">
        <mat-card id="problemcard" *ngIf="problem">
          <mat-card-title><h4>Title: {{problem.problem_title}}</h4></mat-card-title>
          <mat-card-content>
            <p>Created At: {{problem.createdAt | date}} Updated At: {{problem.updatedAt | date}}</p>
            
            <p>Customer name: {{problem.customer.firstname}} {{problem.customer.lastname}}</p>
            <p>Status: {{problem.problem_status}}</p>
            <p>Engineer: {{problem.engineer.firstname}} {{problem.engineer.lastname}}</p>
          </mat-card-content>
        </mat-card>
      </div> -->
    </div>
  </div>
  </mat-sidenav-content>
  
</mat-sidenav-container>

