.example-container {
    width: 100%;
    height: 100%;
    
  //   border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: flex-start;
    justify-content: center;
    
    
  }
  
  .example-sidenav {
    padding: 20px;
    background-color: #d1c4e9;
  }