<mat-toolbar color="primary" class="mat-elevation-z8">
  <a type="button" mat-mini-fab (click)="sidenav.open()">
      <span class="fa fa-bars fa-lg"></span>
  </a>
<span>&nbsp;Feedback System</span>
<span class="flex-spacer"></span>
<a mat-button routerLink="/login"><span class="fa fa-sign-out fa-lg"></span> Logout</a> 
</mat-toolbar>

<mat-sidenav-container class="example-container" style="top: 63px !important;" fullscreen>
  <mat-sidenav #sidenav class="example-sidenav" fxLayout="column" fxLayoutGap="5px">
    <button mat-button (click)="dashboard()">Dashboard</button>
    <!-- <button mat-button (click)="profile()">Profile</button> -->
    <button mat-button (click)="listproblem()">List of Problems</button>
    
  </mat-sidenav>

  <mat-sidenav-content class="example-sidenav-content">
  <div class="container" fxLayout="column" fxLayoutAlign="center" fxLayoutGap="10px">
    <div fxLayout.gt-md="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px">
      <div fxFlex="50">
        <mat-card class="card-background">
          <mat-card-title>Problems Registered Today</mat-card-title>
          <mat-card-content>
            <p *ngIf="problem === null">No problems were registerd today</p>
            <p *ngIf="length !== null && length > 1">{{length}} problems were registered today</p>
            <p *ngIf="length !== null && length === 1">{{length}} problem was registered today</p>
            
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th class="dataCenter">Registered</th>
                    <th class="dataCenter">Waiting for Approval</th>
                    <th class="dataCenter">Work in Progress</th>
                    <th class="dataCenter">Escaleted</th>
                    <th class="dataCenter">Close</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="rowHeight">
                    <td class="dataCenter">{{r_t_length}}</td>
                    <td class="dataCenter">{{wa_t_length}}</td>
                    <td class="dataCenter">{{wp_t_length}}</td>
                    <td class="dataCenter">{{e_t_length}}</td>
                    <td class="dataCenter">{{c_t_length}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="50">
        <mat-card class="card-background">
          <mat-card-title>Problems Registered Last Week</mat-card-title>
          <mat-card-content>
            <p *ngIf="problem === null">No problems were registerd in last week</p>
            <p *ngIf="length_week !== null && length_week > 1">{{length_week}} problems were registered in last week</p>
            <p *ngIf="length_week !== null && length_week === 1">{{length_week}} problem was registered in last week</p>

            <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th class="dataCenter">Registered</th>
                      <th class="dataCenter">Waiting for Approval</th>
                      <th class="dataCenter">Work in Progress</th>
                      <th class="dataCenter">Escaleted</th>
                      <th class="dataCenter">Close</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="rowHeight">
                      <td class="dataCenter">{{r_w_length}}</td>
                      <td class="dataCenter">{{wa_w_length}}</td>
                      <td class="dataCenter">{{wp_w_length}}</td>
                      <td class="dataCenter">{{e_w_length}}</td>
                      <td class="dataCenter">{{c_w_length}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <div fxLayout.gt-md="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap="10px">
      <div fxFlex="50">
        <mat-card class="card-background">
          <mat-card-title>Problems Registered Last Month</mat-card-title>
          <mat-card-content>
            <p *ngIf="problem === null">No problems were registerd in last month</p>
            <p *ngIf="length_month !== null && length_month > 1">{{length_month}} problems were registered in last month</p>
            <p *ngIf="length_month !== null && length_month === 1">{{length_month}} problem was registered in last month</p>
            
            <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th class="dataCenter">
                        Registered
                        <!-- <button mat-icon-button (click)="details()">
                          <mat-icon>info</mat-icon>
                        </button> -->
                      </th>
                      <th class="dataCenter">
                        Waiting for Approval
                        <!-- <button mat-icon-button>
                          <mat-icon>info</mat-icon>
                        </button> -->
                      </th>
                      <th class="dataCenter">
                        Work in Progress
                        <!-- <button mat-icon-button>
                          <mat-icon>info</mat-icon>
                        </button> -->
                      </th>
                      <th class="dataCenter">
                        Escaleted
                        <!-- <button mat-icon-button>
                          <mat-icon>info</mat-icon>
                        </button> -->
                      </th>
                      <th class="dataCenter">
                        Close
                        <!-- <button mat-icon-button>
                          <mat-icon>info</mat-icon>
                        </button> -->
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="rowHeight">
                      <td class="dataCenter">{{r_m_length}}</td>
                      <td class="dataCenter">{{wa_m_length}}</td>
                      <td class="dataCenter">{{wp_m_length}}</td>
                      <td class="dataCenter">{{e_m_length}}</td>
                      <td class="dataCenter">{{c_m_length}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div fxFlex="50">
        <mat-card class="card-background">
          <mat-card-title>Problems Registered in Last 6 Months</mat-card-title>
          <mat-card-content>
            <p *ngIf="problem === null">No problems were registerd in last six months</p>
            <p *ngIf="length_sixmonths !== null && length_sixmonths > 1">{{length_sixmonths}} problems were registered in last six months</p>
            <p *ngIf="length_sixmonths !== null && length_sixmonths === 1">{{length_sixmonths}} problem was registered in last six months</p>
            
            <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th class="dataCenter">Registered</th>
                      <th class="dataCenter">Waiting for Approval</th>
                      <th class="dataCenter">Work in Progress</th>
                      <th class="dataCenter">Escaleted</th>
                      <th class="dataCenter">Close</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="rowHeight">
                      <td class="dataCenter">{{r_sm_length}}</td>
                      <td class="dataCenter">{{wa_sm_length}}</td>
                      <td class="dataCenter">{{wp_sm_length}}</td>
                      <td class="dataCenter">{{e_sm_length}}</td>
                      <td class="dataCenter">{{c_sm_length}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</mat-sidenav-content>
</mat-sidenav-container>
