<form (ngSubmit)="onSubmit()">
  <mat-form-field floatPlaceolder="auto">
    <mat-select [(ngModel)]="selectedValue" placeholder="Select Problem Status" name="problemStatus">
      <mat-option *ngFor="let problemStatus of problemStatus" [value]="problemStatus.value">
        {{problemStatus.value}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button type="submit" mat-raised-button class="background-primary text-floral-white">Search</button>
</form>

<div class="example-header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>

<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource" matSort>

    <!-- Position Column -->
    <ng-container matColumnDef="problem_title">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Problem Name </mat-header-cell>
      <mat-cell *matCellDef="let problem"> 
        <p>{{problem.problem_title}} </p>
        <button mat-button (click)="openDialog(problem._id)">check</button>
        
      </mat-cell>
      
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="problem_status">
      <mat-header-cell *matHeaderCellDef > Problem Status </mat-header-cell>
      <mat-cell *matCellDef="let problem"> {{problem.problem_status}} </mat-cell>
    </ng-container>

    <!-- <ng-container matColumnDef="firstname">
      <mat-header-cell *matHeaderCellDef > Customer Name </mat-header-cell>
      <mat-cell *ngFor="let problem of problems"> {{problem.customer.firstname}} {{problem.customer.lastname}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="email_id">
      <mat-header-cell *matHeaderCellDef > Email Id </mat-header-cell>
      <mat-cell *ngFor="let problem of problems"> {{problem.customer.email_id}} </mat-cell>
    </ng-container> -->
    
    <!-- Symbol Column -->
    <!-- <ng-container matColumnDef="customer.company_name">
      <mat-header-cell *matHeaderCellDef> Customer Comapany Name </mat-header-cell>
      <mat-cell *ngFor="let problem of problems"> {{problem.customer.company_name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
      <mat-cell *ngFor="let problem of problems">
        <a mat-mini-fab color="warn" (click)="onDelete(problem._id)" matTooltip="Delete a Problem" matTooltipPosition="above">
          <span class="fa fa-trash fa-2x"></span>
        </a>
      </mat-cell>
    </ng-container> -->


    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25]"></mat-paginator>

  
</div>