<app-header></app-header>

<div class="container" fxLayout="column" fxLayoutGap="10px">
  <div fxFlex></div><br>
  <div fxFlex class="form-size" fxLayoutAlign="space-around center">
    <form (ngSubmit)="onSearch()">
      <mat-form-field floatPlaceolder="auto">
        <mat-select [(ngModel)]="selectedValue1" placeholder="Set User" name="userRole">
          <mat-option *ngFor="let userRole of userRole" [value]="userRole.value">
            {{userRole.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button type="submit" mat-raised-button class="background-primary text-floral-white">Search</button>
    </form>  
  </div>

  <div fxFlex>
    <h3>Users</h3>
    <hr>
  </div>

  <div fxFlex fxLayout="column">
    <div fxFlex>
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>
    <mat-card fxFlex>
      <mat-table #table class="problemtable" [dataSource]="dataSource" matSort>
        
        <!-- Problem Name Column -->
        <ng-container matColumnDef="username">
          <mat-header-cell id="headerusername" *matHeaderCellDef mat-sort-header> Username </mat-header-cell>
          <mat-cell class="tablecell" *matCellDef="let user">
            <button mat-icon-button color="warn" (click)="onDelete(user._id)" matTooltip="Delete a User" matTooltipPosition="above">
              <mat-icon>delete</mat-icon>
            </button>
            <p style="display:inline"> {{user.username}} </p>
            
          </mat-cell>
        </ng-container>
          
        <!-- Problem status Column -->
        <ng-container matColumnDef="firstname">
          <mat-header-cell id="headerfirstname" *matHeaderCellDef mat-sort-header> First Name </mat-header-cell>
          <mat-cell class="tablecell" *matCellDef="let user"> {{user.firstname}} </mat-cell>
        </ng-container>
          
        <!-- Customre name column -->
        <ng-container matColumnDef="lastname">
          <mat-header-cell class="tableheader" *matHeaderCellDef > Last Name </mat-header-cell>
          <mat-cell class="tablecell" *matCellDef="let user"> {{user.lastname}} </mat-cell>
        </ng-container>
          
        <!-- Email Id -->
        <ng-container matColumnDef="email_id">
          <mat-header-cell class="tableheader" *matHeaderCellDef > Email Id </mat-header-cell>
          <mat-cell class="tablecell" *matCellDef="let user"> {{user.email_id}} </mat-cell>
        </ng-container>
              
        <!-- Company name Column -->
        <ng-container matColumnDef="userrole">
          <mat-header-cell class="tableheader" *matHeaderCellDef> User role </mat-header-cell>
          <mat-cell  class="tablecell" *matCellDef="let user">
            
            <mat-select *ngIf="user._id === editRowId" [(ngModel)]="selectedValue" placeholder="Set User" name="userRole" style="width: 100px">
              <mat-option *ngFor="let userRole of userRole" [value]="userRole.value">
                {{userRole.value}}
              </mat-option>
            </mat-select>
            
            <p style="display: inline" *ngIf="user._id !== editRowId">{{user.usertype}}</p>
            <button mat-icon-button *ngIf="user._id !== editRowId" (click)="onEdit(user._id)" matTooltip="Edit User Role" matTooltipPosition="above">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button *ngIf="user._id === editRowId" (click)="onSave(user._id)" matTooltip="Save changes" matTooltipPosition="above">
              <mat-icon>save</mat-icon>
            </button>
            <button mat-icon-button *ngIf="user._id === editRowId" (click)="onCancel()" matTooltip="Cancel" matTooltipPosition="above">
              <mat-icon>close</mat-icon>
            </button>
            
          </mat-cell>
          
        </ng-container>
          
        <!-- Actions column -->
        <!-- <ng-container matColumnDef="actions">
          <mat-header-cell class="tableheader" *matHeaderCellDef> Actions </mat-header-cell>
          <mat-cell class="tablecell" *matCellDef="let problem">
            <button mat-icon-button color="warn" (click)="onDelete(user._id)" matTooltip="Delete a User" matTooltipPosition="above">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container> -->
          
          
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25]" [length]="length"></mat-paginator>

    </mat-card>
  </div>
  <!-- <div fxFlex class="mat-elevation-z8">
    <div class="table-responsive">
    <table  class="table table-striped row-border table-hover" id="mytable">
      <thead class="background-medium text-floral-white">
        <tr>
            
          <th class="dataCenter">User Name</th>
          <th class="dataCenter">First Name</th>
          <th class="dataCenter">Last Name</th>
          <th class="dataCenter">User Role</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr class="rowHeight" *ngFor="let user of users">
            
          <td class="dataCenter">{{user.username}}</td>
          <td class="dataCenter">{{user.firstname}}</td>
          <td class="dataCenter">{{user.lastname}}</td>
          <td *ngIf="user._id === editRowId">
            <mat-select [(ngModel)]="selectedValue" placeholder="Set User" name="userRole">
              <mat-option *ngFor="let userRole of userRole" [value]="userRole.value">
                {{userRole.value}}
              </mat-option>
            </mat-select>
          </td>
          <td class="dataCenter" *ngIf="user._id !== editRowId">{{user.usertype}}</td>
          <td>
            <a mat-mini-fab *ngIf="user._id !== editRowId" (click)="onEdit(user._id)" matTooltip="Edit User Role" matTooltipPosition="above">
              <span class="fa fa-pencil-square-o fa-2x"></span>
            </a>
            <a mat-mini-fab *ngIf="user._id === editRowId" (click)="onSave(user._id)" matTooltip="Save changes" matTooltipPosition="above">
              <span class="fa fa-floppy-o fa-2x"></span>
            </a>&nbsp;
            <a mat-mini-fab color="warn" (click)="onDelete(user._id)" matTooltip="Delete a User" matTooltipPosition="above">
              <span class="fa fa-trash fa-2x"></span>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>  -->
</div>
