.dataCenter {
    text-align: center;
}

.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}
  
.example-header {
    min-height: 64px;
    padding: 8px 24px 0;
}

.problemtable {
    overflow: auto;

    // max-height: 500px;
}

.tableheader {
    text-align: left;
    
}

.tablecell {
    text-align: left;
    
}

#headerusername {
    margin-left: auto;
    margin-right: auto;
}