.full-width {
    width: 95%
}

.half-width {
    width: 55%
}

.combo-width {
    width: 24%
}

.form-size {
    width: 80%
}

#calltype {
    width: 350px
}

.center {
    text-align: center;
}

.example-container {
    width: 100%;
    height: 100%;
  //   border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: flex-start;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
    background-color: #d1c4e9;
  }