<mat-toolbar color="primary" class="mat-elevation-z8">
    <a type="button" mat-mini-fab (click)="sidenav.open()">
        <span class="fa fa-bars fa-lg"></span>
    </a>
  <span>&nbsp;Feedback System</span>
  <span class="flex-spacer"></span>
  <a mat-button routerLink="/login"><span class="fa fa-sign-out fa-lg"></span> Logout</a> 
</mat-toolbar>

<mat-sidenav-container class="example-container" style="top: 63px !important;" fullscreen>
  <mat-sidenav #sidenav class="example-sidenav" fxLayout="column" fxLayoutGap="10px">
    <button mat-button (click)="dashboard()">Dashboard</button>
    <button mat-button (click)="profile()">Profile</button>
    <button mat-button (click)="registerProblem()">Register Problem</button>
    
  </mat-sidenav>

  <mat-sidenav-content class="example-sidenav-content">
  <div>
  <div class="container mat-elevation-z8" fxLayoutAlign.gt-md="space-around center">
      <div fxFlex="90">
    
        <div fxFlex class="form-size">
          <h1 class="center">Register New Problem</h1>
          <form novalidate [formGroup]="problemregisterform" (ngSubmit)="onSubmit()" >
            <h3>Call Type</h3><hr>
            <p>
              <span>How we may contact you?</span> 
              <mat-form-field floatPlaceolder="auto">
              <mat-select placeholder="Select Call Type" formControlName="calltype" >
                <mat-option *ngFor="let ctype of calltype" [value]="ctype.value">
                  {{ctype.value}}
                </mat-option>
              </mat-select>
              </mat-form-field>
            </p> 
            
            <!-- <h3>Customer Details:</h3><hr>
            <p>
              <mat-input-container class="half-width" dividerColor="{{(formErrors.customer_name) ? 'warn' : 'primary'}}">
                <input matInput formControlName="customer_name" placeholder="Customer Name" type="text" required>
                <span [hidden]="!(formErrors.customer_name)">
                  {{formErrors.customer_name}}
                </span>
              </mat-input-container>
            </p>
            <p>
              <mat-input-container class="half-width" dividerColor="{{(formErrors.customer_company_name) ? 'warn' : 'primary'}}">
                <input matInput formControlName="customer_company_name" placeholder="Customer Company Name" type="text" required>
                <span [hidden]="!(formErrors.customer_company_name)">
                  {{formErrors.customer_company_name}}
                </span>
              </mat-input-container>
            </p>
            <p>
              <mat-input-container class="half-width" dividerColor="{{(formErrors.email_id) ? 'warn' : 'primary'}}">
                <input matInput formControlName="email_id" placeholder="Email Id" type="email" email required>
                <span [hidden]="!(formErrors.email_id)">
                  {{formErrors.email_id}}
                </span>
              </mat-input-container>
            </p>
            <p>
              <mat-input-container dividerColor="{{(formErrors.contact_no) ? 'warn' : 'primary'}}">
                <input matInput formControlName="contact_no" placeholder="Contact number" type="tel" pattern="[0-9]*" minlength="10" maxlength="10" required>
                <span [hidden]="!(formErrors.contact_no)">
                  {{formErrors.contact_no}}
                </span>
              </mat-input-container>
              
              <mat-input-container dividerColor="{{(formErrors.pincode) ? 'warn' : 'primary'}}">
                <input matInput formControlName="pincode" placeholder="Pincode" type="text" pattern="[0-9]*" minlength="6" maxlength="6" required>
                <span [hidden]="!(formErrors.pincode)">
                  {{formErrors.pincode}}
                </span>
              </mat-input-container>
            </p> -->
    
            <h3>Product Details:</h3><hr>
            <mat-form-field>
              <mat-select placeholder=" Select Product type" formControlName="device_type"  >
                
                <mat-option *ngFor="let ptype of device_type" [value]="ptype.value">
                  {{ptype.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field dividerColor="{{(formErrors.oem) ? 'warn' : 'primary'}}">
              <mat-select placeholder=" Select OEM" formControlName="oem" required>
                <mat-option *ngFor="let Oem of Oem" [value]="Oem.value">
                  {{Oem.value}}
                </mat-option>
                <mat-hint>
                  <span [hidden]="!(formErrors.oem)">
                    {{formErrors.oem}}
                  </span>
                </mat-hint>
              </mat-select>    
            </mat-form-field>
            <mat-form-field>
              <mat-select placeholder=" Select Model number" formControlName="model_no" >
                <mat-option *ngFor="let Modelno of model_no" [value]="Modelno.value">
                  {{Modelno.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-select placeholder=" Select Part number" formControlName="part_no" >
                <mat-option *ngFor="let Partno of part_no" [value]="Partno.value">
                  {{Partno.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-select placeholder=" Select Serial number" formControlName="serial_no" >
                <mat-option *ngFor="let sno of serial_no" [value]="sno.value">
                  {{sno.value}}
                </mat-option>
              </mat-select>  
            </mat-form-field>
            
            <p>
              <mat-input-container class="half-width" dividerColor="{{(formErrors.problem_title) ? 'warn' : 'primary'}}">
                <input matInput formControlName="problem_title" placeholder="Problem Title" required>
                <mat-hint>
                  <span [hidden]="!(formErrors.problem_title)">
                    {{formErrors.problem_title}}
                  </span>
                </mat-hint>
              </mat-input-container>
            </p>
            <p>
              <mat-input-container class="full-width" dividerColor="{{(formErrors.problem_description) ? 'warn' : 'primary'}}">
                <textarea matInput formControlName="problem_description" placeholder="Enter Problem Description" rows=10 required></textarea>
                <mat-hint>
                  <span [hidden]="!(formErrors.problem_title)">
                    {{formErrors.problem_description}}
                  </span>
                </mat-hint>
              </mat-input-container>
            </p>
    
            <button type="submit" mat-raised-button class="background-primary text-floral-white" [disabled]="problemregisterform.invalid">Submit</button>
            <div><p></p></div>
          </form>
        </div>
      </div>
    </div>
  </div>
    
</mat-sidenav-content>
</mat-sidenav-container>

<!-- <div class="container" fxLayoutAlign.gt-md="space-around center">
  <div fxFlex="90">

    <div fxFlex class="form-size">
      <h1 class="center">Register New Problem</h1>
      <form novalidate [formGroup]="problemregisterform" (ngSubmit)="onSubmit()" >
        <h3>Call Type</h3><hr>
        <p>
          <span>How we may contact you?</span> 
          <mat-form-field floatPlaceolder="auto">
          <mat-select placeholder="Select Call Type" formControlName="calltype" >
            <mat-option *ngFor="let ctype of calltype" [value]="ctype.value">
              {{ctype.value}}
            </mat-option>
          </mat-select>
          </mat-form-field>
        </p> 
        
        <h3>Customer Details:</h3><hr>
        <p>
          <mat-input-container class="half-width" dividerColor="{{(formErrors.customer_name) ? 'warn' : 'primary'}}">
            <input matInput formControlName="customer_name" placeholder="Customer Name" type="text" required>
            <span [hidden]="!(formErrors.customer_name)">
              {{formErrors.customer_name}}
            </span>
          </mat-input-container>
        </p>
        <p>
          <mat-input-container class="half-width" dividerColor="{{(formErrors.customer_company_name) ? 'warn' : 'primary'}}">
            <input matInput formControlName="customer_company_name" placeholder="Customer Company Name" type="text" required>
            <span [hidden]="!(formErrors.customer_company_name)">
              {{formErrors.customer_company_name}}
            </span>
          </mat-input-container>
        </p>
        <p>
          <mat-input-container class="half-width" dividerColor="{{(formErrors.email_id) ? 'warn' : 'primary'}}">
            <input matInput formControlName="email_id" placeholder="Email Id" type="email" email required>
            <span [hidden]="!(formErrors.email_id)">
              {{formErrors.email_id}}
            </span>
          </mat-input-container>
        </p>
        <p>
          <mat-input-container dividerColor="{{(formErrors.contact_no) ? 'warn' : 'primary'}}">
            <input matInput formControlName="contact_no" placeholder="Contact number" type="tel" pattern="[0-9]*" minlength="10" maxlength="10" required>
            <span [hidden]="!(formErrors.contact_no)">
              {{formErrors.contact_no}}
            </span>
          </mat-input-container>
          
          <mat-input-container dividerColor="{{(formErrors.pincode) ? 'warn' : 'primary'}}">
            <input matInput formControlName="pincode" placeholder="Pincode" type="text" pattern="[0-9]*" minlength="6" maxlength="6" required>
            <span [hidden]="!(formErrors.pincode)">
              {{formErrors.pincode}}
            </span>
          </mat-input-container>
        </p>

        <h3>Product Details:</h3><hr>
        <mat-form-field>
          <mat-select placeholder=" Select Product type" formControlName="device_type"  >
            <mat-option *ngFor="let ptype of device_type" [value]="ptype.value">
              {{ptype.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder=" Select OEM" formControlName="oem" >
            <mat-option *ngFor="let Oem of oem" [value]="Oem.value">
              {{Oem.value}}
            </mat-option>
          </mat-select>    
        </mat-form-field>
        <mat-form-field>
            <mat-select placeholder=" Select Model number" formControlName="model_no" >
                <mat-option *ngFor="let Modelno of model_no" [value]="Modelno.value">
                  {{Modelno.value}}
                </mat-option>
              </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-select placeholder=" Select Serial number" formControlName="serial_no" >
                <mat-option *ngFor="let sno of serial_no" [value]="sno.value">
                  {{sno.value}}
                </mat-option>
              </mat-select>  
        </mat-form-field>
        
        <p>
          <mat-input-container class="half-width" dividerColor="{{(formErrors.problem_title) ? 'warn' : 'primary'}}">
            <input matInput formControlName="problem_title" placeholder="Problem Title" required>
            <span [hidden]="!(formErrors.problem_title)">
              {{formErrors.problem_title}}
            </span>
          </mat-input-container>
        </p>
        <p>
          <mat-input-container class="full-width" dividerColor="{{(formErrors.problem_description) ? 'warn' : 'primary'}}">
            <textarea matInput formControlName="problem_description" placeholder="Enter Problem Description" rows=10 required></textarea>
            <span [hidden]="!(formErrors.problem_title)">
              {{formErrors.problem_title}}
            </span>
          </mat-input-container>
        </p>

        <button type="submit" mat-raised-button class="background-primary text-floral-white" [disabled]="problemregisterform.invalid">Submit</button>

      </form>
    </div>

    
  </div>
</div> -->