<app-header></app-header>

<div class="container" fxLayout="column" fxLayoutAlign.gt-md="space-around top" fxLayoutGap="10px">
  <div fxFlex="50" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutGap.xs="0">

    <!--<div fxFlex="30">
      <h2>
        Change User Role
      </h2>
      <hr>

      <form novalidate [(ngModel)]="username" [ngModelOptions]="{standalone: true}" (ngSubmit)="onSearch(username)" ngDefaultControl>      
        <mat-input-container>
          <input matInput type="text" placeholder="Enter Username" required>
        </mat-input-container>
        
        <button mat-raised-button type="submit" class="background-primary text-floral-white">Search</button>
      </form>

      <div>
        <mat-card *ngIf="user">
          <mat-card-title>
            {{users.username}}
          </mat-card-title>
          <mat-card-content>
            Test
          </mat-card-content>
        </mat-card>

        <br>

        <form (ngSubmit)="onEdit()">
          <mat-form-field floatPlaceolder="auto">
            <mat-select [(ngModel)]="selectedValue" placeholder="Select User Role" name="userRoles">
              <mat-option *ngFor="let userRole of userRoles" [value]="userRole.value">
                {{userRole.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button type="submit" mat-raised-button class="background-primary text-floral-white">Edit</button>          
        </form>
      </div>
    </div>-->

    <div fxFlex="45">
      <mat-card>
        <mat-card-title>
          <h3>User Actions</h3>
        </mat-card-title>
        <mat-card-content>
          For User related actions such as find, edit or remove User, kindly click below.
        </mat-card-content>
        <a mat-raised-button class="background-primary text-floral-white" routerLink="/adminuser">Click me!</a>
      </mat-card>
    </div>

    <div fxFlex="45">
        <mat-card>
          <mat-card-title>
            <h3>Problem Actions</h3>
          </mat-card-title>
          <mat-card-content>
            For Problem related actions such as find, edit or remove Problems, kindly click below.
          </mat-card-content>
          <a mat-raised-button class="background-primary text-floral-white" routerLink="/adminproblem">Click me!</a>
        </mat-card>
    </div>
  </div>

  <div fxFlex="50" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutGap.xs="0">
    <div fxFlex="45">
      <mat-card>
        <mat-card-title>
          <h3>Add or Remove Oems</h3>
        </mat-card-title>
        <mat-card-content>
          For adding or removing oems from database, kindly click below
        </mat-card-content>
        <a mat-raised-button class="background-primary text-floral-white" routerLink="/adminoem">Click me!</a>
      </mat-card>
    </div>

    <div fxFlex="45">
      <mat-card>
        <mat-card-title>
          <h3>Add or Remove Model Number</h3>
        </mat-card-title>
        <mat-card-content>
          For adding or removing model numbers from database, kindly click below
        </mat-card-content>
        <a mat-raised-button class="background-primary text-floral-white" routerLink="/adminoem">Click me!</a>
      </mat-card>
    </div>
  </div>

  <div fxFlex="50" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="10px" fxLayoutGap.xs="0">
    <div fxFlex="45">
      <mat-card>
        <mat-card-title>
          <h3>Add or Remove Part Number</h3>
        </mat-card-title>
        <mat-card-content>
          For adding or removing part numbers from database, kindly click below
        </mat-card-content>
        <a mat-raised-button class="background-primary text-floral-white" routerLink="/adminoem">Click me!</a>
      </mat-card>
    </div>

    <div fxFlex="45">
      <mat-card>
        <mat-card-title>
          <h3>Add or Delete Serial Number</h3>
        </mat-card-title>
        <mat-card-content>
          For adding or removing serial numbers from database, kindly click below
        </mat-card-content>
        <a mat-raised-button class="background-primary text-floral-white" routerLink="/adminoem">Click me!</a>
      </mat-card>
    </div>
  </div>
</div>
