<mat-toolbar color="primary" class="mat-elevation-z8">
    <a type="button" mat-mini-fab (click)="sidenav.open()">
        <span class="fa fa-bars fa-lg"></span>
    </a>
  <span>&nbsp;Feedback System</span>
  <span class="flex-spacer"></span>
  <a mat-button routerLink="/login"><span class="fa fa-sign-out fa-lg"></span> Logout</a> 
</mat-toolbar>

<mat-sidenav-container class="example-container" style="top: 63px !important;" fullscreen>
  <mat-sidenav #sidenav class="example-sidenav" fxLayout="column" fxLayoutGap="5px">
    <button mat-button (click)="dashboard()">Dashboard</button>
    <!-- <button mat-button (click)="profile()">Profile</button> -->
    <button mat-button (click)="listproblem()">List of Problems</button>
        
  </mat-sidenav>
  <mat-sidenav-content class="example-sidenav-content" >
  <div class="container" fxLayout="column" fxLayoutGap="10px">
      
    <div fxFlex></div><br>
    <div fxFlex class="form-size" fxLayoutAlign="space-around center">
      <form (ngSubmit)="onSubmit()">
        <mat-form-field floatPlaceolder="auto">
          <mat-select [(ngModel)]="selectedValue" placeholder="Select Problem Status" name="problemStatus">
            <mat-option *ngFor="let problemStatus of problemStatus" [value]="problemStatus.value">
              {{problemStatus.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button type="submit" mat-raised-button class="background-primary text-floral-white">Search</button>
      </form>  
    </div>
    <br>
    <div fxFlex>
      <mat-card>
        <mat-card-title>Problems:</mat-card-title>
        <mat-card-content>
          <div fxLayoutColumn="column">
            <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
                  
            <mat-table #table [dataSource]="dataSource" matSort>
              <!-- createdAt column -->
              <ng-container matColumnDef="createdAt">
                <mat-header-cell class="tableheader" *matHeaderCellDef mat-sort-header> Created At </mat-header-cell>
                <mat-cell class="tablecell" *matCellDef="let problem"> {{problem.createdAt | date}} </mat-cell>
              </ng-container>
    
              <ng-container matColumnDef="problem_title">
                <mat-header-cell class="tableheader" *matHeaderCellDef> Problem Title </mat-header-cell>
                <mat-cell class="tablecell" *matCellDef="let problem"> {{problem.problem_title}} </mat-cell>
              </ng-container>
    
    
              <ng-container matColumnDef="problem_status">
                <mat-header-cell class="tableheader" *matHeaderCellDef> Problem status </mat-header-cell>
                <mat-cell class="tablecell" *matCellDef="let problem">
                  <mat-select *ngIf="problem._id === editRowId" style="width: 100px" [(ngModel)]="selectedValue1" placeholder="Select Problem Status" name="problemStatus">
                    <mat-option *ngFor="let problemStatus of problemStatus" [value]="problemStatus.value">
                      {{problemStatus.value}}
                    </mat-option>
                  </mat-select>
                  <p style="display: inline" *ngIf="problem._id !== editRowId">{{problem.problem_status}}</p>
                  <button mat-icon-button *ngIf="problem._id !== editRowId" (click)="onEdit(problem._id)" matTooltip="Edit Problem status" matTooltipPosition="above">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button mat-icon-button *ngIf="problem._id === editRowId" (click)="onSave(problem._id)" matTooltip="Save changes" matTooltipPosition="above">
                    <mat-icon>save</mat-icon>
                  </button>
                  <button mat-icon-button *ngIf="problem._id === editRowId" (click)="onCancel()" matTooltip="Cancel" matTooltipPosition="above">
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-cell>
              </ng-container>


              <ng-container matColumnDef="customer_name">
                <mat-header-cell class="tableheader" *matHeaderCellDef> Customer name </mat-header-cell>
                <mat-cell class="tablecell" *matCellDef="let problem"> {{problem.customer.firstname}} {{problem.customer.lastname}} </mat-cell>
              </ng-container>


              <ng-container matColumnDef="email_id">
                <mat-header-cell class="tableheader" *matHeaderCellDef> Email Id </mat-header-cell>
                <mat-cell class="tablecell" *matCellDef="let problem"> {{problem.customer.email_id}} </mat-cell>
              </ng-container>
    
    
              <ng-container matColumnDef="problem_details">
                <mat-header-cell class="tableheader" *matHeaderCellDef> Problem Details </mat-header-cell>
                <mat-cell class="tablecell" *matCellDef="let problem">
                  <button mat-icon-button (click)="openDialog(problem._id)" matTooltip="Complete Problem description" matTooltipPosition="above">
                    <mat-icon>info</mat-icon>
                  </button>
                </mat-cell>
              </ng-container>
    
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <mat-paginator [pageSizeOptions]="[5, 10, 25]" [length]="length"></mat-paginator>  
          </div>
        </mat-card-content>
      </mat-card>
    </div>  

    <!-- <div fxFlex class="mat-elevation-z8">
      <div class="table-responsive">
      <table  class="table table-striped row-border table-hover" id="mytable">
        <thead class="background-medium text-floral-white">
          <tr>
                
            <th class="dataCenter">Problem Name</th>
            <th class="dataCenter">Registered On</th>
            <th class="dataCenter">Problem Status</th>
            <th class="dataCenter">Customer Name</th>
            <th class="dataCenter">Customer Comapany Name</th>
            <th class="dataCenter">Customer Email</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <tr class="rowHeight" *ngFor="let problem of problems">
                
            <td class="dataCenter">{{problem.problem_title}}</td>
            <td class="dataCenter">{{problem.createdAt | date}}</td>
            <td *ngIf="problem._id === editRowId">
              <mat-select [(ngModel)]="selectedValue1" placeholder="Select Problem Status" name="problemStatus">
                <mat-option *ngFor="let problemStatus of problemStatus" [value]="problemStatus.value">
                  {{problemStatus.value}}
                </mat-option>
              </mat-select>
            </td>
            <td class="dataCenter" *ngIf="problem._id !== editRowId">{{problem.problem_status}}</td>
            <td class="dataCenter">{{problem.customer.firstname}} {{problem.customer.lastname}}</td>
            <td class="dataCenter">{{problem.customer.company_name}}</td>
            <td class="dataCenter">{{problem.customer.email_id}}</td>
            <td>
              <a mat-mini-fab *ngIf="problem._id !== editRowId" (click)="onEdit(problem._id)" matTooltip="Edit Problem Status" matTooltipPosition="above">
                <span class="fa fa-pencil-square-o fa-2x"></span>
              </a>
              <a mat-mini-fab *ngIf="problem._id === editRowId" (click)="onSave(problem._id)" matTooltip="Save changes" matTooltipPosition="above">
                <span class="fa fa-floppy-o fa-2x"></span>
              </a>&nbsp;
              <a mat-mini-fab color="secondary-text-color" [routerLink]="['/listdetailproblem', problem._id]" matTooltip="View details of Problem" matTooltipPosition="above">
                <span class="fa fa-info-circle fa-2x"></span>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      </div>
            
    </div> -->
      
  </div>
  </mat-sidenav-content>
</mat-sidenav-container>

