<mat-toolbar color="primary">
  
  <span>Feedback System</span>
   
  </mat-toolbar>

<div id="welcome" fxLayoutAlign="space-around center">
 
      <div fxLayout="column" class="form-size">
        <mat-card style="opacity:0.8;">
          <mat-card-title><h3 class="text-primary" style="text-align:center">Sign up</h3><hr></mat-card-title>
          <mat-card-content>
              <!-- <p>{{ signupForm.value | json }} {{ signupForm.status | json }}</p> -->
            <form novalidate [formGroup]="signupForm" (ngSubmit)="onSubmit()">
              <p>
                <mat-input-container class="full-width"
                  dividerColor="{{(formErrors.firstname) ? 'warn' : 'primary'}}">
                  <input matInput type="text"  formControlName="firstname" placeholder="First name" required>
                  <mat-hint>
                    <span [hidden]="!(formErrors.firstname)">{{formErrors.firstname}}</span>
                  </mat-hint>
                </mat-input-container>
              </p>
              <p>
                <mat-input-container class="full-width"
                  dividerColor="{{(formErrors.lastname) ? 'warn' : 'primary'}}">
                  <input matInput type="text"  formControlName="lastname" placeholder="Last name" required>
                  <mat-hint>
                    <span [hidden]="!(formErrors.lastname)">{{formErrors.lastname}}</span>
                  </mat-hint>
                </mat-input-container>
              </p>
              <p>
                <mat-input-container class="full-width"  dividerColor="{{(formErrors.username) ? 'warn' : 'primary'}}">
                  <input matInput type="text"   formControlName="username" placeholder="Username" minlength="2" maxlength="20" required>
                  <mat-hint>
                    <span [hidden]="!(formErrors.username)">{{formErrors.username}}</span>
                  </mat-hint>
                </mat-input-container>
              </p>
              <p>
                <mat-input-container class="full-width" dividerColor="{{(formErrors.password) ? 'warn' : 'primary'}}">
                  <input matInput type="password"  formControlName="password" placeholder="Password" minlength="8" maxlength="25" required>
                  <mat-hint>
                    <span [hidden]="!(formErrors.password)">{{formErrors.password}}</span>
                  </mat-hint>
                </mat-input-container>
              </p>
              <span class="button">
                <button mat-raised-button type="submit" class="background-primary text-floral-white" [disabled]="signupForm.invalid">Submit</button>
              </span>
            </form>

            <br><br><br><br>

            <p>
              Already have an account? 
            </p>

            <a mat-raised-button type="button" routerLink="/login" class="background-primary text-floral-white" >Login</a>

          </mat-card-content>
        </mat-card>
      </div>
    
</div>
          