<app-header></app-header>

<div class="container" fxLayout="row" FxLayoutAlign="space-around center" fxLayoutGap="10px" fxLayout.sm="column" fxLayout.xs="column">
  <div fxFlex>
    <mat-card>
      <mat-card-title>
        <h3>Add Oem</h3>
      </mat-card-title>
      <mat-card-content>
        <mat-input-container>
          <input matInput type="text" placeholder="Enter name of OEM" name="oem" [(ngModel)]="oeminput" required>
        </mat-input-container>
        <mat-card-actions style="align-self: center">
          <button mat-raised-button type="submit" class="text-floral-white background-primary" (click)="AddOem()">Add</button>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex>
    <mat-card>
      <mat-card-title>
        <h3>Delete Oem</h3>
      </mat-card-title>
      <mat-card-content>
        <mat-form-field dividerColor="{{(oemError) ? 'warn' : 'primary'}}">
          <mat-select placeholder=" Select OEM" [(ngModel)]="selectedOem" (selectionChange)="changed()" name="Oem" required>
            <mat-option *ngFor="let Oem of Oem; let index" [value]="Oem.value">
              {{Oem.viewName}}
            </mat-option>
            <mat-hint>
              <span [hidden]="oemError === false">
                Please select any OEM
              </span>
            </mat-hint>
          </mat-select>    
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions style="align-self: center">
        <button mat-raised-button type="submit" class="text-floral-white background-primary" (click)="DeleteOem()">Delete</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
