<app-header></app-header>

<div class="container" fxLayout="column" fxLayoutGap="10px">
  <div fxFlex></div><br>
  <div fxFlex class="form-size" fxLayoutAlign="space-around center">
    <form (ngSubmit)="onSubmit()">
      <mat-form-field floatPlaceolder="auto">
        <mat-select [(ngModel)]="selectedValue" placeholder="Select Problem Status" name="problemStatus">
          <mat-option *ngFor="let problemStatus of problemStatus" [value]="problemStatus.value">
            {{problemStatus.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button type="submit" mat-raised-button class="background-primary text-floral-white">Search</button>
    </form>  
  </div>
  <br>
  <div fxFlex fxLayout="column">
    
      <div fxFlex>
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
      </div>
      <mat-card fxFlex>
        <mat-table #table class="problemtable" [dataSource]="dataSource" matSort>
          
          <ng-container matColumnDef="createdAt">
            <mat-header-cell class="tableheader" *matHeaderCellDef mat-sort-header> Created At </mat-header-cell>
            <mat-cell class="tablecell" *matCellDef="let problem"> {{problem.createdAt | date}} </mat-cell>
          </ng-container>
          <!-- Problem Name Column -->
          <ng-container matColumnDef="problem_title">
            <mat-header-cell class="tableheader" *matHeaderCellDef mat-sort-header> Problem Name </mat-header-cell>
            <mat-cell class="tablecell" *matCellDef="let problem"> {{problem.problem_title}} </mat-cell>
          </ng-container>
              
          <!-- Problem status Column -->
          <ng-container matColumnDef="problem_status">
            <mat-header-cell class="tableheader" *matHeaderCellDef > Problem Status </mat-header-cell>
            <mat-cell class="tablecell" *matCellDef="let problem"> {{problem.problem_status}} </mat-cell>
          </ng-container>
              
          <!-- Customre name column -->
          <ng-container matColumnDef="firstname">
            <mat-header-cell class="tableheader" *matHeaderCellDef > Customer Name </mat-header-cell>
            <mat-cell class="tablecell" *matCellDef="let problem"> {{problem.customer.firstname}} {{problem.customer.lastname}} </mat-cell>
          </ng-container>
              
          <!-- Email Id -->
          <ng-container matColumnDef="email_id">
            <mat-header-cell class="tableheader" *matHeaderCellDef > Email Id </mat-header-cell>
            <mat-cell class="tablecell" *matCellDef="let problem"> {{problem.customer.email_id}} </mat-cell>
          </ng-container>
                  
          <!-- Company name Column -->
          <ng-container matColumnDef="customer.company_name">
            <mat-header-cell class="tableheader" *matHeaderCellDef>Comapany Name</mat-header-cell>
            <mat-cell class="tablecell" *matCellDef="let problem">{{problem.customer.company_name}}</mat-cell>
          </ng-container>
              
          <!-- Actions column -->
          <ng-container matColumnDef="actions">
            <mat-header-cell class="tableheader" *matHeaderCellDef> Actions </mat-header-cell>
            <mat-cell class="tablecell" *matCellDef="let problem">
              <button mat-icon-button color="warn" (click)="onDelete(problem._id)" matTooltip="Delete a Problem" matTooltipPosition="above">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-cell>
          </ng-container>
              
              
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25]" [length]="length"></mat-paginator>
      </mat-card>

      
  
    <!-- <div class="table-responsive">
    <table  class="table table-striped row-border table-hover" id="mytable">
      <thead class="background-medium text-floral-white">
        <tr>
            
          <th class="dataCenter">Problem Name</th>
          <th class="dataCenter">Problem Status</th>
          <th class="dataCenter">Customer Name</th>
          <th class="dataCenter">Customer Comapany Name</th>
          <th class="dataCenter">Customer Email</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr class="rowHeight" *ngFor="let problem of problems">
            
          <td class="dataCenter">{{problem.problem_title}}</td>
          <td class="dataCenter">{{problem.problem_status}}</td>
          <td class="dataCenter">{{problem.customer.firstname}} {{problem.customer.lastname}}</td>
          <td class="dataCenter">{{problem.customer.company_name}}</td>
          <td class="dataCenter">{{problem.customer.email_id}}</td>
          <td>
            <a mat-mini-fab color="warn" (click)="onDelete(problem._id)" matTooltip="Delete a Problem" matTooltipPosition="above">
              <span class="fa fa-trash fa-2x"></span>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <nav aria-label="Page navigation">
      <ul class="pagination">
        <li>
          <a href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
          <a href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav> -->
    <!-- <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions" (page)="pageEvent = $event">
    </mat-paginator>
    <div *ngIf="pageEvent">
      <h5>Page Change Event Properties</h5>
      <div>List length: {{pageEvent.length}}</div>
      <div>Page size: {{pageEvent.pageSize}}</div>
      <div>Page index: {{pageEvent.pageIndex}}</div>
    </div> -->
  <!-- </div> -->
  </div>
</div> 
