<mat-toolbar color="primary" class="mat-elevation-z8">
    <a type="button" mat-mini-fab (click)="sidenav.open()">
        <span class="fa fa-bars fa-lg"></span>
    </a>
  <span>&nbsp;Feedback System</span>
  <span class="flex-spacer"></span>
  <a mat-button routerLink="/login"><span class="fa fa-sign-out fa-lg"></span> Logout</a> 
</mat-toolbar>


<mat-sidenav-container class="example-container" style="top: 63px !important;" fullscreen>
  <mat-sidenav #sidenav class="example-sidenav" fxLayout="column" fxLayoutGap="5px">
    <button mat-button (click)="dashboard()">Dashboard</button>
    <button mat-button (click)="profile()">Profile</button>
    <button mat-button (click)="registerProblem()">Register Problem</button>

  </mat-sidenav>

  <mat-sidenav-content class="example-sidenav-content">

  <!-- <div class="container " fxLayout="row" fxLayoutAlign.gt-md="top" fxlayoutGap="10px"> -->
    <div class="container" fxLayout="row" fxLayoutGap="5px" [@expand]>
        <mat-card fxFlex>
          <mat-card-title><h3>Registered Problems</h3></mat-card-title>
          <mat-card-content>
          <div fxLayoutColumn="column">
            <mat-form-field>
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
            </mat-form-field>
              
            <mat-table #table [dataSource]="dataSource" matSort>
              <!-- createdAt column -->
              <ng-container matColumnDef="createdAt">
                <mat-header-cell class="tableheader" *matHeaderCellDef mat-sort-header> Created At </mat-header-cell>
                <mat-cell class="tablecell" *matCellDef="let problem"> {{problem.createdAt | date}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="caseid">
                <mat-header-cell class="tableheader" *matHeaderCellDef mat-sort-header> Case Id </mat-header-cell>
                <mat-cell class="tablecell" *matCellDef="let problem"> {{problem.caseId}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="problem_title">
                <mat-header-cell class="tableheader" *matHeaderCellDef mat-sort-header> Problem Title </mat-header-cell>
                <mat-cell class="tablecell" *matCellDef="let problem"> {{problem.problem_title}} </mat-cell>
              </ng-container>


              <ng-container matColumnDef="problem_status">
                <mat-header-cell class="tableheader" *matHeaderCellDef mat-sort-header> Problem status </mat-header-cell>
                <mat-cell class="tablecell" *matCellDef="let problem"> {{problem.problem_status}} </mat-cell>
              </ng-container>


              <ng-container matColumnDef="problem_details">
                <mat-header-cell class="tableheader" *matHeaderCellDef> Problem Details </mat-header-cell>
                <mat-cell class="tablecell" *matCellDef="let problem">
                  <button mat-icon-button (click)="openDialog(problem._id)" matTooltip="Complete Problem description" matTooltipPosition="above">
                    <mat-icon>info</mat-icon>
                  </button>
                </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <mat-paginator [pageSizeOptions]="[5, 10, 25]" [length]="length"></mat-paginator>  
          </div>
          </mat-card-content>
        </mat-card>
        <!-- <mat-card id="user-card" *ngIf="problem">
          
          <mat-card-title>{{problem.problem_title}}</mat-card-title><hr>
          <mat-card-content>
            <p>Call Type:&nbsp;{{problem.calltype}}&nbsp;&nbsp;&nbsp;&nbsp;Registered on:&nbsp;{{problem.createdAt | date}}</p>
            <p>Status: {{problem.problem_status}}</p>
            <p>Description: {{problem.problem_description}}</p>
            <h4>Device details:</h4>
            <p>Device type: {{problem.device_type}}</p>
            <p>OEM: {{problem.oem}}</p>
            <p>Model number: {{problem.model_no}}</p>
            <p>Serial number: {{problem.serial_no}}</p>
            <h4 *ngIf="problem.engineer">Engineer Details</h4>
            <p *ngIf="problem.engineer">Name: {{problem.engineer.firstname}} {{problem.engineer.lastname}}</p>
            <p *ngIf="problem.engineer">Updated At: {{problem.updatedAt | date}}</p>
          </mat-card-content>
        </mat-card> -->
        <!-- <mat-card #invalid>
          <mat-card-content>test</mat-card-content>
        </mat-card> -->
        <!-- <div [hidden]="problem || errMess">
            <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
        </div>
        <div *ngIf="errMess">
          <h2>Error</h2>
          <h4>{{errMess}}</h4>
        </div> -->
   
    <!-- </div> -->
    <!-- <div fxFlex="25" class="container1" fxLayoutAlign = "space-around top">
        <mat-card>
          <mat-card-content>Test</mat-card-content>
        </mat-card>
    </div> -->
  </div>


</mat-sidenav-content>
</mat-sidenav-container>

