<app-header></app-header>

<div class="container" fxLayout="column"
fxLayoutAlign.gt-md="space-around center"
fxLayoutGap="10px" 
fxLayoutGap.xs="0">

  <div  fxFlex *ngIf="problem">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3>{{problem.problem_title | uppercase}}</h3>
        </mat-card-title>      
      </mat-card-header>
      <mat-card-content>
        <p>Status: {{problem.problem_status}} Registered on: {{problem.createdAt | date}}</p>
        <p>Customer name: {{problem.customer.firstname}} {{problem.customer.lastname}}</p>
        <p>Customer company name: {{problem.customer.company_name}}</p>
        <p>Email id: {{problem.customer.email_id}}</p>
        <p>Contact No: {{problem.customer.contact_no}}</p>
        <p>Problem description: {{problem.problem_description}}</p>
      </mat-card-content>
      <mat-card-actions>
        <!-- <button mat-button [routerLink]="['/listproblemdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>           -->
        <button mat-button class="background-primary text-floral-white" (click)="goBack()">BACK</button>
        <!-- <span class="flex-spacer"></span>
        <button mat-button [routerLink]="['/listproblemdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button> -->
      </mat-card-actions>
    </mat-card>
  </div>
  <div [hidden]="problem || errMess">
      <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
  
  <div *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>
</div>
