/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
// some basic resets 

$lt-gray: #ddd;
$background-dark: #512DA8;
$background-light: #9575CD;
$background-pale: #D1C4E9;
$primary-color-dark:   #512DA8;
$primary-color:        #673AB7;
$primary-color-light:  #D1C4E9;
$primary-color-text:   #FFFFFF;
$accent-color:         #FFC107;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;
$warn: red;

@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

body { 
    padding: 0; 
    margin: 0; 
    font-family: Roboto, sans-serif; 
    
}

.container {
    margin: 20px;
    width:95%;

    display: flex;
}

.container1 {
    margin: 20px;
    width:95%;
    height: 70%
    
    //display: flex;
}
.background-primary {
    background-color: $background-dark!important;
  }
.background-accent {
    background-color: $accent-color!important;
  }
.text-floral-white {
    color: floralwhite!important;
}

.text-primary {
    color: $primary-color-dark!important;
}

.background-light {
    background-color: $background-pale;
}

.background-medium {
    background-color: $background-light;
}

.flex-spacer {
  flex: 1 1 auto;
}

.text-justify {
    text-align: justify;
}

.button {
    display: block;
    text-align: center;
}

#reportcard {
    background-color: #ffeb3b;
}

#problemcard {
    background-color: #8BC34A;
}