.example-container {
    width: 100%;
    height: 100%;
  //   border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: flex-start;
    
  }
  
  .example-sidenav {
    padding: 20px;
    background-color: #d1c4e9;
  }

  .full-width {
      width: 90%;
  }

  .half-width {
      width: 44%;
  }

  #user-card {
    background-color: #8BC34A;
  }

  #user-profile-form {
    background-color: #64b5f6;
  }

  .example-headers-align .mat-expansion-panel-header-title, 
  .example-headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
  }
  
  .example-headers-align .mat-expansion-panel-header-description {
      justify-content: space-between;
      align-items: center;
  }

.companyaddress {
  width: 500px;
}

.warn {
  color:  red;
}