<mat-toolbar color="primary" class="mat-elevation-z8">
    <a type="button" mat-mini-fab (click)="sidenav.open()">
        <span class="fa fa-bars fa-lg"></span>
    </a>
  <span>&nbsp;Feedback System</span>
  <span class="flex-spacer"></span>
  <a mat-button routerLink="/login"><span class="fa fa-sign-out fa-lg"></span> Logout</a> 
</mat-toolbar>


<mat-sidenav-container class="example-container" style="top: 63px !important;" fullscreen>
  <mat-sidenav #sidenav class="example-sidenav" fxLayout="column" fxLayoutGap="10px">
    <button mat-button (click)="dashboard()">Dashboard</button>
    <button mat-button (click)="profile()">Profile</button>
    <button mat-button (click)="registerProblem()">Register Problem</button>
    
  </mat-sidenav>

  <mat-sidenav-content class="example-sidenav-content">

  <div class="container" fxlayout="column" fxLayoutAlign="center">
    <mat-card fxFlex="80">
      <mat-card-title><h2 align="center">Profile</h2></mat-card-title>
      <mat-card-content *ngIf="user">
        <mat-accordion>
          <h4>User Details:</h4>
          <mat-expansion-panel>
            <mat-expansion-panel-header class="example-headers-align">
              <mat-panel-title>
                Username
              </mat-panel-title>
              <mat-panel-description class="mat-expansion-panel-header-description">
                {{user.username}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <form #usernameForm="ngForm" novalidate (ngSubmit)="onSubmitUsername()">
              <mat-input-container dividerColor="{{(usernameError) ? 'warn' : 'primary'}}">
                <input matInput type="text" [(ngModel)]="Username" name="username" placeholder="Change username" minlength="2" maxlength="20">
                <mat-hint>
                  <span>{{usernameErrorName}}</span>
                </mat-hint>
              </mat-input-container>
              <button mat-button class="background-primary text-floral-white" type="submit" [disabled]="!usernameForm.valid">
                <span class="fa fa-floppy-o fa-lg"></span> Save
              </button>
            </form>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header class="example-headers-align">
              <mat-panel-title>
                Email Id
              </mat-panel-title>
              <mat-panel-description class="mat-expansion-panel-header-description">
                {{user.email_id}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <form #emailIdForm="ngForm" novalidate (ngSubmit)="onSubmitEmailId()">
              <mat-input-container dividerColor="{{(emailidError) ? 'warn' : 'primary'}}">
                <input matInput type="email" [(ngModel)]="EmailId" name="email_id" placeholder="Change email id" email>
              </mat-input-container>
              <button mat-button type="submit" class="background-primary text-floral-white" [disabled]="!emailIdForm.valid">
                <span class="fa fa-floppy-o fa-lg"></span> Save
                </button>
            </form>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header class="example-headers-align">
              <mat-panel-title>
                Contact Number
              </mat-panel-title>
              <mat-panel-description class="mat-expansion-panel-header-description"> 
                {{user.contact_no}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <form #contactnoForm="ngForm" novalidate (ngSubmit)="onSubmitContactno()">
              <mat-input-container dividerColor="{{(iscontactnoError) ? 'warn' : 'primary'}}">
                <input matInput type="tel" [(ngModel)]="Contactno" name="contact_no" placeholder="Change Contact number" [formControl]="contactnoError" pattern="[0-9]*" maxLength="10" minLength="10" required>
                <mat-error *ngIf="contactnoError.hasError('required')">Please enter contact number</mat-error>
              <mat-error *ngIf="contactnoError.hasError('maxLength')">Contact number can't exceed more than 10 digits</mat-error>
              <mat-error *ngIf="contactnoError.hasError('minLength')">Contact number can't be less than 10 digits</mat-error>
              <mat-error *ngIf="contactnoError.hasError('pattern')">Only numbers allowed</mat-error>
              </mat-input-container>
              <button mat-button type="submit" class="background-primary text-floral-white" [disabled]="contactnoForm.invalid">
                <span class="fa fa-floppy-o fa-lg"></span> Save
              </button>
            </form>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header class="example-headers-align">
              <mat-panel-title>
                Change Password
              </mat-panel-title>
              <!-- <mat-panel-description class="mat-expansion-panel-header-description">
                {{user.username}}
              </mat-panel-description> -->
            </mat-expansion-panel-header>
            <form #passwordForm="ngForm" novalidate (ngSubmit)="onSubmitPassword()">
              <mat-input-container dividerColor="{{(passwordError) ? 'warn' : 'primary'}}">
                <input matInput type="password" [(ngModel)]="NewPassword" name="new_password" placeholder="Enter new password" minlength="8" maxlength="20">
                <mat-hint [hidden]="passwordError === false">
                  <p class="warn">New password and confirm password didn't match</p>
                </mat-hint>
              </mat-input-container>
              <mat-input-container>
                <input matInput type="password" [(ngModel)]="ConfirmPassword" name="confirm_password" placeholder="Confirm password">
              </mat-input-container>
              <button mat-button class="background-primary text-floral-white" type="submit" [disabled]="!passwordForm.valid">
                <span class="fa fa-floppy-o fa-lg"></span> Save
              </button>
            </form>
          </mat-expansion-panel>

          <h4>Company Details:</h4>
          <mat-expansion-panel>
            <mat-expansion-panel-header class="example-headers-align">
              <mat-panel-title>
                Company Name
              </mat-panel-title>
              <mat-panel-description class="mat-expansion-panel-header-description"> 
                {{user.company_name}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <form #companyNameForm="ngForm" novalidate (ngSubmit)="onSubmitCompanyName()">
              <mat-input-container>
                <input matInput type="text" [(ngModel)]="CompanyName" name="company_name" placeholder="Change Company Name">
              </mat-input-container>
              <button mat-button type="submit" class="background-primary text-floral-white" [disabled]="!companyNameForm.valid">
                <span class="fa fa-floppy-o fa-lg"></span> Save
              </button>
            </form>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header class="example-headers-align">
              <mat-panel-title>
                Street Address
              </mat-panel-title>
              <mat-panel-description class="mat-expansion-panel-header-description"> 
                {{user.company_address}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <form #companyAddressForm="ngForm" novalidate (ngSubmit)="onSubmitCompanyAddress()">
              <mat-input-container class="companyaddress">
                <textarea matInput [(ngModel)]="CompanyAddress" name="company_address" placeholder="Change Street Address" rows="3"></textarea>
              </mat-input-container>
              <button mat-button type="submit" class="background-primary text-floral-white" [disabled]="!companyAddressForm.valid">
                <span class="fa fa-floppy-o fa-lg"></span> Save
              </button>
            </form>
          </mat-expansion-panel>
          
          <mat-expansion-panel>
            <mat-expansion-panel-header class="example-headers-align">
              <mat-panel-title>
                City
              </mat-panel-title>
              <mat-panel-description class="mat-expansion-panel-header-description"> 
                {{user.company_city}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <form #companyCityForm="ngForm" novalidate (ngSubmit)="onSubmitCompanyCity()">
              <mat-form-field>
                <!-- <input type="text" matInput [(ngModel)]="CompanyCity" name="company_city" placeholder="Change city"> -->
                <mat-select placeholder="Select City" [(ngModel)]="CompanyCity" name="company_city" [formControl]="companyCityError" required>
                  <mat-option *ngFor="let city of cities" [value]="city.value">
                    {{city.value}}
                  </mat-option>
                  <mat-error *ngIf="companyCityError.hasError('required')">Please choose a city</mat-error>
                </mat-select>
              </mat-form-field>
              <button mat-button type="submit" class="background-primary text-floral-white" [disabled]="!companyCityForm.valid">
                <span class="fa fa-floppy-o fa-lg"></span> Save
              </button>
            </form>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header class="example-headers-align">
              <mat-panel-title>
                Pincode
              </mat-panel-title>
              <mat-panel-description class="mat-expansion-panel-header-description"> 
                {{user.company_pincode}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <form #companyPincodeForm="ngForm" novalidate (ngSubmit)="onSubmitPincode()">
              <mat-input-container dividerColor="{{(isCompanyPincodeError) ? 'warn' : 'primary'}}">
                <input type="tel" matInput [(ngModel)]="CompanyPincode" name="company_pincode" placeholder="Change pincode" [formControl]="companyPincodeError" pattern="[0-9]*" maxLength="6" minLength="6">
              </mat-input-container>
              <mat-error *ngIf="companyPincodeError.hasError('required')">Please enter a pincode</mat-error>
              <mat-error *ngIf="companyPincodeError.hasError('maxLength')">Pincode can't exceed more than 6 digits</mat-error>
              <mat-error *ngIf="companyPincodeError.hasError('minLength')">Pincode can't be less than 6 digits</mat-error>
              <mat-error *ngIf="companyPincodeError.hasError('pattern')">Only numbers allowed</mat-error>
              <button mat-button type="submit" class="background-primary text-floral-white" [disabled]="companyPincodeForm.invalid" >
                <span class="fa fa-floppy-o fa-lg"></span> Save
              </button>
            </form>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header class="example-headers-align">
              <mat-panel-title>
                State
              </mat-panel-title>
              <mat-panel-description class="mat-expansion-panel-header-description"> 
                {{user.company_state}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <form #companyStateForm="ngForm" novalidate (ngSubmit)="onSubmitState()">
              <mat-input-container>
                <input type="text" matInput [(ngModel)]="CompanyState" name="company_state" placeholder="Change state">
              </mat-input-container>
              <button mat-button type="submit" class="background-primary text-floral-white" [disabled]="!companyStateForm.valid" >
                <span class="fa fa-floppy-o fa-lg"></span> Save
              </button>
            </form>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header class="example-headers-align">
              <mat-panel-title>
                Country
              </mat-panel-title>
              <mat-panel-description class="mat-expansion-panel-header-description"> 
                {{user.company_country}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <form #companyCountryForm="ngForm" novalidate (ngSubmit)="onSubmitCountry()">
              <mat-input-container>
                <input type="text" matInput [(ngModel)]="CompanyCountry" name="company_country" placeholder="Change country">
              </mat-input-container>
              <button mat-button type="submit" class="background-primary text-floral-white" [disabled]="!companyCountryForm.valid" >
                <span class="fa fa-floppy-o fa-lg"></span> Save
              </button>
            </form>
          </mat-expansion-panel>

        </mat-accordion>
      </mat-card-content>
    </mat-card>
  </div>
  

    <!--Edit profile-->
    <!-- <div fxFlex="70">
      <mat-card id="user-profile-form">
        <mat-card-title>Edit Profile</mat-card-title><hr>
        <mat-card-content>
          <form novalidate [formGroup]="profileForm" (ngSubmit)="onSubmit()">
            <h4>User Details:</h4>
            <p>
              <mat-input-container class="full-width" dividerColor="{{(formErrors.email) ? 'warn' : 'primary'}}">
                <input matInput type="email" formControlName="email_id" placeholder="Email Id" email required>
                <mat-hint>
                    <span [hidden]="!(formErrors.email_id)">{{formErrors.email_id}}</span>
                  </mat-hint>
              </mat-input-container>
            </p>
            <p>
              <mat-input-container class="full-width" dividerColor="{{(formErrors.contact_no) ? 'warn' : 'primary'}}">
                <input matInput type="tel" formControlName="contact_no" placeholder="Mobile Number" pattern="[0-9]*" minlength="10" maxlength="10" required>
                <mat-hint>
                    <span [hidden]="!(formErrors.contact_no)">{{formErrors.contact_no}}</span>
                  </mat-hint>
              </mat-input-container>
              
            <h4>Company Details:</h4>
            <p>
              <mat-input-container class="full-width" dividerColor="{{(formErrors.company_name) ? 'warn' : 'primary'}}">
                <input matInput type="text" formControlName="company_name" placeholder="Name" required>
                <mat-hint>
                    <span [hidden]="!(formErrors.company_name)">{{formErrors.company_name}}</span>
                  </mat-hint>
              </mat-input-container>
            </p>
            <p>
              <mat-input-container class="full-width" >
                <textarea matInput formControlName="company_address" placeholder="Street Address" rows="3"></textarea>
              </mat-input-container>
            </p>
            <p>
              <mat-input-container class="half-width" >
                <input matInput type="text" formControlName="company_city" placeholder="City">
              </mat-input-container>

              <mat-input-container class="half-width" dividerColor="{{(formErrors.company_pincode) ? 'warn' : 'primary'}}">
                <input matInput type="tel" formControlName="company_pincode" placeholder="Pincode" pattern="[0-9]*" minlength="6" maxlength="6">
                <mat-hint>
                    <span [hidden]="!(formErrors.company_pincode)">{{formErrors.company_pincode}}</span>
                  </mat-hint>
              </mat-input-container>

            </p>
            <p>
              <mat-input-container class="half-width" >
                <input matInput type="text" formControlName="company_state" placeholder="State">
              </mat-input-container>
             
              <mat-input-container class="half-width" >
                <input matInput type="text" formControlName="company_country" placeholder="Country">
              </mat-input-container>
              
            </p>
            <span class="button">
              <button mat-raised-button type="submit" class="background-primary text-floral-white" [disabled]="profileForm.invalid">Submit</button>
            </span>
            
          </form>
        </mat-card-content>
      </mat-card>
    </div> -->

    <!--Profile of user-->
    <!-- <div fxFlex *ngIf="user">
      <mat-card id="user-card">
        <mat-card-title><h3>Personal Details</h3></mat-card-title><hr>
        <mat-card-content>
          <mat-list>
            
            <mat-list-item><p>Name: {{user.firstname}}&nbsp;{{user.lastname}}</p></mat-list-item>

            <mat-list-item *ngIf="user.email_id !== ''"><p>Email id: {{user.email_id}}</p></mat-list-item>
            <mat-list-item *ngIf="user.email_id === ''"><p>Kindly add Email id.</p></mat-list-item>

            <mat-list-item *ngIf="user.contact_no !== null"><p>Contact number: {{user.contact_no}}</p></mat-list-item>
            <mat-list-item *ngIf="user.contact_no === null"><p>Kindly add Contact number.</p></mat-list-item>

            <h3>Company Details</h3><hr>
            <mat-list-item *ngIf="user.company_name !== ''"><p>Name: {{user.company_name}}</p></mat-list-item>
            <mat-list-item *ngIf="user.company_name === ''"><p>Kindly add Name.</p></mat-list-item>

            <mat-list-item *ngIf="user.company_address !== ''"><p>Street address: {{user.company_address}}</p></mat-list-item>
            <mat-list-item *ngIf="user.company_address === ''"><p>Kindly add Street address.</p></mat-list-item>

            <mat-list-item *ngIf="user.company_city !== ''"><p>City: {{user.company_city}}</p></mat-list-item>
            <mat-list-item *ngIf="user.company_city === ''"><p>Kindly add City.</p></mat-list-item>

            <mat-list-item *ngIf="user.company_pincode !== ''"><p>Pincode: {{user.company_pincode}}</p></mat-list-item>
            <mat-list-item *ngIf="user.company_pincode === ''"><p>Kindly add Pincode.</p></mat-list-item>
            
            <mat-list-item *ngIf="user.company_state !== ''"><p>State: {{user.company_state}}</p></mat-list-item>
            <mat-list-item *ngIf="user.company_state === ''"><p>Kindly add State.</p></mat-list-item>

            <mat-list-item *ngIf="user.company_country !== ''"><p>Country: {{user.company_country}}</p></mat-list-item>
            <mat-list-item *ngIf="user.company_country === ''"><p>Kindly add Country.</p></mat-list-item>


          </mat-list>
        </mat-card-content>
      </mat-card>
    </div> -->
    

</mat-sidenav-content>
</mat-sidenav-container>
